<FlexboxLayout alignItems="stretch" flexDirection="column">
    <ActionBar backgroundColor="gray" flat="true" height="7.3%">
        <Label class="h2" textWeight="bold" text="Covid-19 Statistics"></Label>
    </ActionBar>

    <GridLayout orientation="vertical" width="100%" height="auto" columns="*" rows="*,auto" backgroundColor="gray">

        <StackLayout height="100%" orientation="vertical">


            <FlexboxLayout (tap)="dismissKeyboard()" alignItems="stretch" flexDirection="column" height="auto">

                <StackLayout col="0" height="auto" row="0">
                    <StackLayout class="bottomleft" marginTop="-10" marginBottom="-5">
                        <Image src="~/images/covid.jpg" class="img-rounded m-b-20"></Image>

                    </StackLayout>

                    <!-- <StackLayout *ngIf="isScan" (tap)="dismissKeyboard()" paddinRight="10" paddingLeft="10" paddingBottom="20" marginTop="-12" marginBottom="5️" class="transparent" borderColor="black" borderRadius="4" height="auto" width="95%" stretch="aspectFit">


                        <GridLayout class="nt-input -sides" rows="auto, auto" columns="*,*" marginTop="25">
                            <Label text="Select Country:" class="font-weight-bold" fontSize="22" color="black" marginTop="10" row="0" col="0"></Label>
                            <RadAutoCompleteTextView row="0" column="1" (didAutoComplete)="onMedSelected($event)" fontSize="18" height="50" [items]="suggest" suggestMode="Suggest" displayMode="Plain">
                                <SuggestionView tkAutoCompleteSuggestionView>
                                    <ng-template tkSuggestionItemTemplate let-item="item">
                                        <GridLayout columns="auto, *">
                                            <Image height="50" col="0" [src]="getImageName(item.text)"></Image>
                                            <Label col="1" #med1 [text]="item.text" fontSize="18" class="p-l-5"></Label>

                                        </GridLayout>
                                    </ng-template>
                                </SuggestionView>
                            </RadAutoCompleteTextView>

                        </GridLayout>

                        <Button text="Search" (tap)="selectItems()" class="-outline" borderColor="black" color="red" fontSize="20" backgroundColor="rgba(255, 255, 255, 0.5)" marginTop="30" marginLeft="20" marginRight="20"></Button>

                    </StackLayout> -->

                </StackLayout>
                <StackLayout marginRight="10" (tap)="dismissKeyboard()" height="17%" marginLeft="20">
                    <ListView class="list-group" [items]="result" height="150">

                        <ng-template let-item="item" let-i="index">
                            <ScrollView (scroll)="onScroll($event)" orientation="horizontal" height="200">
                                <GridLayout class="form" rows="auto,*" columns="*,*,*,*,*,*,*,*">
                                    <Label row="0" col="1" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Country" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="2" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="3" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="New Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="4" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="By 1M" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="5" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Active" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="6" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Recovered" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="7" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Deaths" marginLeft="25" marginTop="20"></Label>

                                    <Image row="0" col="0" src="~/images/global.png" marginTop="20"></Image>
                                    <Label row="0" col="1" fontSize="18" fontWeight="bold" text="Global" textAlign="center" marginLeft="25" marginTop="50"></Label>

                                    <Label row="0" col="2" fontSize="18" fontWeight="bold" [text]="item.value.cases.total" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="3" fontSize="18" fontWeight="bold" [text]="item.value.cases.new" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="4" fontSize="18" fontWeight="bold" [text]="item.value.cases['1M_pop']" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="5" fontSize="18" fontWeight="bold" [text]="item.value.cases.active" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="6" fontSize="18" fontWeight="bold" [text]="item.value.cases.recovered" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="7" fontSize="18" fontWeight="bold" [text]="item.value.deaths.total" textAlign="center" marginLeft="25" marginTop="50"></Label>

                                </GridLayout>
                            </ScrollView>
                        </ng-template>
                    </ListView>
                </StackLayout>




                <StackLayout marginRight="10" (tap)="dismissKeyboard()" height="70%" marginLeft="20">
                    <ListView class="list-group" [items]="result2" height="1000">

                        <ng-template let-item="item" let-i="index">
                            <ScrollView (scroll)="onScroll($event)" orientation="horizontal" height="600">
                                <GridLayout class="form" rows="auto,*" columns="*,*,*,*,*,*,*,*">

                                    <Label row="0" col="1" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Country" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="2" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="3" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="New Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="4" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="By 1M" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="5" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Active" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="6" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Recovered" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="7" fontWeight="bold" color="black" fontSize="18" textAlign="center" text="Deaths" marginLeft="25" marginTop="20"></Label>

                                    <!-- <Image row="0" col="0" src="~/images/global.png" marginTop="20"></Image> -->
                                    <Image row="0" col="0" height="90" [src]="getImageName2(item.value.country)"></Image>
                                    <Label row="0" col="1" fontSize="18" fontWeight="bold" [text]="item.value.country" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="2" fontSize="18" fontWeight="bold" [text]="item.value.cases.total" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="3" fontSize="18" fontWeight="bold" [text]="item.value.cases.new" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="4" fontSize="18" fontWeight="bold" [text]="item.value.cases['1M_pop']" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="5" fontSize="18" fontWeight="bold" [text]="item.value.cases.active" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="6" fontSize="18" fontWeight="bold" [text]="item.value.cases.recovered" textAlign="center" marginLeft="25" marginTop="50"></Label>
                                    <Label row="0" col="7" fontSize="18" fontWeight="bold" [text]="item.value.deaths.total" textAlign="center" marginLeft="25" marginTop="50"></Label>

                                </GridLayout>
                            </ScrollView>
                        </ng-template>
                    </ListView>
                </StackLayout>


            </FlexboxLayout>

        </StackLayout>

        <StackLayout col="0" row="1" orientation="horizontal" backgroundColor="#FFFFFF" height="60" position="absolute">
            <GridLayout rows="*,*" columns="*,*">
                <Label col="0" row="0" color="gray" text="&#xf015;" height="60" fontSize="35" marginTop="25" class="fa menu-icon" marginBottom="15" (tap)="onHistoryTap()"></Label>
                <Label col="0" row="1" text="Home" fontSize="12" class="bar-text" marginTop="10" marginLeft="85"></Label>
                <!-- <Image col="1" row="0"  height="30" width="20" margin="12" src="~/images/alarm.jpg"></Image> -->
                <Label col="1" row="0" color="gray" text="&#xf073;" height="40" fontSize="30" marginTop="25" class="fa menu-icon" marginBottom="15" (tap)="onHistoryTap()"></Label>
                <Label col="1" row="1" text="History" fontSize="12" (tap)="onHistoryTap()" class="bar-text" marginTop="10" marginLeft="85"></Label>
                <!-- <Image col="2" row="0" (tap)="onLoginTap()" height="25" width="25" margin="10" marginLeft="-5" src="~/images/medicines.png"></Image> -->
            </GridLayout>
        </StackLayout>


    </GridLayout>
</FlexboxLayout>