ActionBar {
    background-color: transparent;
}

.searchRow {
    margin-top: 5;
    vertical-align: center;
    orientation: horizontal;
    margin-left: 15;
    margin-right: 15;
    height: 50;
    background-color: white;
}

.fontSearch {
    font-size: 14;
    text-align: center;
}

.text-left {
    vertical-align: center;
    text-align: left;
    width: 100%;
    font-weight: bold;
    color: rgba(214, 122, 35, 0.8);
    font-size: 26;
}

.fa {
    font-family: "FontAwesome";
    font-size: large;
    text-align: right;
    vertical-align: center;
    orientation: horizontal;
    margin-top: -12;
    margin-left: 5;
    font-size: 22;
}

.add_to {
    vertical-align: center;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 16;
}

.add_to2 {
    vertical-align: center;
    text-align: left;
    width: 100%;
    color: rgba(23, 113, 216);
    font-size: 16;
}

.fa-icon {
    font-family: "FontAwesome";
    font-size: large;
    text-align: center;
    vertical-align: center;
    orientation: horizontal;
    margin-top: 12;
    font-size: 22;
}

.searchRow2 {
    margin-top: 5;
    vertical-align: center;
    orientation: horizontal;
    margin-left: 15;
    margin-right: 15;
    height: 50;
    background-color: white;
}

.medicine-int {
    background-position: 8% 37%;
    vertical-align: center;
    margin-top: 15;
    margin-left: 15;
    margin-right: 15;
    border-radius: 6;
}

.notes-header {
    text-align: left;
    margin-top: 15;
    margin-left: 35;
    color: rgba(23, 113, 216);
    font-size: 20;
    font-weight: bold;
}

.notes-text {
    text-align: left;
    margin-top: 5;
    margin-left: 35;
    color: rgba(96, 97, 97);
    font-size: 16;
}

.notes-box {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 20;
    margin-bottom: 25;
    margin-left: 15;
    margin-right: 15;
    height: auto;
    min-height: 100;
    border-radius: 6;
}

.bottomleft2 {
    width: 800;
    padding-top: 5;
    height: 200;
}


/* #home-page-background{        
    background: linear-gradient(to bottom, #44557f 15%, #f8f8f8 15%);
} */

.album-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label {
    margin-bottom: 15;
}

.transparent-blue {
    background-color: rgb(255, 255, 255);
}

.transparent {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: black;
    border-width: 2;
}

.menu-icon {
    font-size: 20;
    color: black;
    padding-left: 0;
    vertical-align: center;
    margin-left: 5;
    margin-top: 15;
}

.text-center {
    vertical-align: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 20;
}

.text-left1 {
    vertical-align: center;
    text-align: left;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 26;
}

.text-right1 {
    vertical-align: center;
    text-align: right;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 26;
}

.fa-plus {
    font-family: "FontAwesome";
    font-size: large;
    text-align: center;
    orientation: horizontal;
    margin-top: -40;
    width: 100%;
    height: 100;
}

#searchRow {
    margin-top: 20;
}

.bar-text {
    text-align: center;
    margin-top: 0;
    color: rgba(96, 97, 97);
    font-size: 16;
}

ActionBar {
    background-color: transparent;
}


/* #home-page-background{        
    background: linear-gradient(to bottom, #44557f 15%, #f8f8f8 15%);
} */

.background {
    background-position: 20% 100%;
}

.album-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label {
    margin-bottom: 15;
}

.menu-icon {
    font-size: 20;
    color: black;
    padding-left: 0;
    vertical-align: center;
    margin-left: 5;
    margin-top: 15;
}

.text-center {
    vertical-align: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 20;
}

.medicine-int {
    background-position: 8% 37%;
    vertical-align: center;
    margin-top: 15;
    margin-left: 15;
    margin-right: 15;
    border-radius: 6;
}

.searchRow {
    margin-top: 5;
    vertical-align: center;
    orientation: horizontal;
    margin-left: 15;
    margin-right: 15;
    height: 50;
    background-color: white;
}

.fa {
    font-family: "FontAwesome";
    font-size: large;
    text-align: center;
    vertical-align: center;
    orientation: horizontal;
    margin-top: 12;
    font-size: 22;
}

.page-icon {
    height: 60;
    width: 80;
    vertical-align: top;
    text-align: left;
    color: rgba(39, 38, 38);
    margin-top: 20%;
}

.notes-header {
    text-align: left;
    margin-top: 15;
    margin-left: 35;
    color: rgba(23, 113, 216);
    font-size: 20;
    font-weight: bold;
}

.notes-text {
    text-align: left;
    margin-top: 5;
    margin-left: 35;
    color: rgba(96, 97, 97);
    font-size: 16;
}

.notes-box {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 20;
    margin-bottom: 25;
    margin-left: 15;
    margin-right: 15;
    min-height: 100;
    border-radius: 6;
}

.bar-text {
    text-align: left;
    margin-top: 0;
    color: rgba(96, 97, 97);
    font-size: 10;
}

.list-group-item {
    margin-top: 10;
    border-radius: 5;
    orientation: horizontal;
}

.add_to {
    vertical-align: center;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 16;
}

.add_to2 {
    vertical-align: center;
    text-align: left;
    width: 100%;
    color: rgba(23, 113, 216);
    font-size: 16;
}

.fa-icon {
    font-family: "FontAwesome";
    font-size: large;
    text-align: center;
    vertical-align: center;
    orientation: horizontal;
    margin-top: 12;
    font-size: 22;
}

.searchRow2 {
    margin-top: 5;
    vertical-align: center;
    orientation: horizontal;
    margin-left: 15;
    margin-right: 15;
    height: 50;
    background-color: white;
}

.medicine-int {
    background-position: 8% 37%;
    vertical-align: center;
    margin-top: 15;
    margin-left: 15;
    margin-right: 15;
    border-radius: 6;
}

.notes-header {
    text-align: left;
    margin-top: 15;
    margin-left: 35;
    color: rgba(23, 113, 216);
    font-size: 20;
    font-weight: bold;
}

.notes-text {
    text-align: left;
    margin-top: 5;
    margin-left: 35;
    color: rgba(96, 97, 97);
    font-size: 16;
}

.notes-box {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 20;
    margin-bottom: 25;
    margin-left: 15;
    margin-right: 15;
    height: auto;
    min-height: 100;
    border-radius: 6;
}

.bottomleft2 {
    width: 800;
    padding-top: 5;
    height: 200;
}


/* #home-page-background{        
    background: linear-gradient(to bottom, #44557f 15%, #f8f8f8 15%);
} */

.album-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label {
    margin-bottom: 15;
}

.menu-icon {
    font-size: 20;
    color: black;
    padding-left: 0;
    vertical-align: center;
    margin-left: 5;
    margin-top: 15;
}

.text-center {
    vertical-align: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 20;
}

.text-left {
    vertical-align: center;
    text-align: left;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 26;
}

.fa-plus {
    font-family: "FontAwesome";
    font-size: large;
    text-align: center;
    orientation: horizontal;
    margin-top: -40;
    width: 100%;
    height: 100;
}

.bottomleft {
    background-position: 5% 60%;
    background-size: 70%;
    width: 100%;
    padding-top: 5;
    height: auto;
}

#searchRow {
    margin-top: 20;
}

.bar-text {
    text-align: left;
    margin-top: 0;
    color: rgba(96, 97, 97);
    font-size: 10;
}