    .scroll {
        height: 450;
    }
    
    .photo {
        text-align: center;
        border-radius: 10%;
        width: 150;
        height: 150;
    }
    
    .page {
        align-items: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0)
    }
    
    .form {
        margin-left: 30;
        margin-right: 30;
        flex-grow: 5;
        vertical-align: middle;
    }
    
    .logo {
        margin-bottom: 0;
        height: 60;
        width: 100%;
        font-weight: bold;
        background-color: white;
    }
    
    .header {
        vertical-align: center;
        font-size: 25;
        font-weight: 600;
        padding: 5;
        margin-bottom: 40;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    .input-field {
        margin-bottom: 10;
        color: white;
    }
    
    .input {
        font-size: 18;
        color: white;
        border-bottom-width: 1;
        border-bottom-color: white;
    }
    
    .input2 {
        font-size: 18;
        color: white;
    }
    
    .fa-icon {
        font-family: "FontAwesome";
        font-size: xx-large;
        text-align: center;
        vertical-align: center;
        orientation: horizontal;
        margin-top: 15;
        font-size: 60;
    }
    
    .b {
        color: rgba(250, 250, 250);
        font-size: 15;
        background-color: rgba(214, 122, 35, 0.8);
        width: 70%;
        border-radius: 5;
        orientation: horizontal;
        margin-top: 20;
    }
    
    .text-center {
        vertical-align: center;
        text-align: center;
        width: 100%;
        font-weight: bold;
        color: white;
        font-size: 20;
    }
    
    .input:disabled {
        background-color: white;
        opacity: 0.5;
    }
    
    .btn-primary {
        margin: 30 5 15 5;
        background-color: whitesmoke;
        height: 50;
        border-radius: 5;
        font-weight: bold;
        color: rgb(196, 170, 3);
    }
    
    .login-label {
        color: #A8A8A8;
        font-size: 16;
        margin-left: 6;
    }
    
    .login-label2 {
        color: #A8A8A8;
        font-size: 16;
        text-align: center;
    }
    
    .terms-label {
        color: #A8A8A8;
        font-size: 12;
        margin-left: 5;
        text-align: center;
    }
    
    .sign-up-label {
        margin-bottom: 10;
    }
    
    .bold {
        color: rgb(196, 170, 3);
    }