ActionBar {
    background-color: transparent;
}

.fa {
    font-family: "FontAwesome";
}

.action-bar {
    background-color: #48b1ec;
}

.photo {
    text-align: center;
    border-radius: 10%;
    width: 150;
    height: 150;
}

.ab-icon {
    color: white;
}

.page-content .page-placeholder {
    color: #D7D7D7;
    font-size: 20;
    vertical-align: center;
}

.page-content .page-icon {
    font-size: 72;
    vertical-align: top;
    color: #41464c;
    margin-top: 20%;
}

.page-content {
    background-color: #41464c;
}

.hr-light {
    background-color: rgba(214, 122, 35, 1);
    width: 100%;
    height: 20;
}

.sidedrawer {
    background-color: #ffffff;
}

.sidedrawer-header {
    background-color: rgba(23, 113, 216);
    height: 220;
}

.sidedrawer-avatar {
    margin-top: 20;
    margin-left: -150;
    border-radius: 10%;
    width: 100;
    height: 100;
}

.sidedrawer-header-text {
    color: white;
    font-size: 24;
    font-weight: bold;
    margin-top: 10;
    margin-left: 10;
    text-align: left;
}

.sidedrawer-header-footnote {
    color: white;
    text-align: left;
    font-size: 16;
    margin-left: 15;
}

.sidedrawer-icon {
    font-size: 22;
    border-radius: 50%;
    border-width: 3;
    border-color: #393b3f;
    width: 40;
    height: 40;
    background-color: #f9fafc;
    vertical-align: center;
    color: #393b3f;
    text-align: center;
}

.sidedrawer-list-item {
    color: #393b3f;
    padding-left: 30;
    font-size: 22;
    font-weight: bold;
    height: 80;
}

.sidedrawer-item {
    vertical-align: center;
    padding-left: 10;
}

.sidedrawer-list-item-active {
    background-color: #a6a450;
}

.nsChatView-view .nsChatView-sendMessageArea {
    margin: 4, 0, 0, 0;
    background-color: #e8e8e8;
}

.nsChatView-view .nsChatView-sendMessageArea Button {
    background-color: transparent;
    margin: 0;
}

.nsChatView-view .nsChatView-messageList {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    margin: 0;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-avatar,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-avatar {
    margin: 8;
    border-radius: 32;
    width: 64;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-separator,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-separator {
    border-color: transparent;
    border-width: 0;
    width: 32;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-message,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-message {
    margin: 8;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea {
    border-radius: 8;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea {
    background-color: #edeef2;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea {
    background-color: #00b863;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea .nsChatView-content,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea .nsChatView-content {
    margin: 12, 16, 12, 16;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea Label,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea Label {
    margin: 0;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea .nsChatView-content Label {
    color: black;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea .nsChatView-content Label {
    color: white;
}

.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea .nsChatView-content .nsChatView-date,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea .nsChatView-content .nsChatView-date {
    font-size: 11;
    margin-bottom: 12;
}

.nsChatView-view .nsChatView-messageField {
    font-size: 14;
}