<FlexboxLayout alignItems="stretch" flexDirection="column">
    <ActionBar backgroundColor="rgba(0,0,0)" flat="true">
        <StackLayout orientation="horizontal" width="100%" height="100%" backgroundColor="rgba(0,0,0)">




            <Label text="&#xf0c9;" color="rgba(196, 170, 3)" textAlign="left" class="fa menu-icon" (tap)="onDrawerButtonTap()" height="60"></Label>
            <Label text="IMDb My List App" class="text-center" marginTop="-10" color="rgba(196, 170, 3)" verticalAlign="center" textAlign="center" fontSize="20"></Label>



        </StackLayout>


    </ActionBar>


    <GridLayout orientation="vertical" width="100%" height="auto" columns="*" rows="*,auto" backgroundColor="rgba(0,0,0)">

        <StackLayout height="100%" orientation="vertical" *ngIf="isHomepage">
            <ScrollView height="100%">

                <FlexboxLayout (tap)="dismissKeyboard()" alignItems="stretch" flexDirection="column" height="auto">

                    <StackLayout col="0" height="80%" row="0">

                        <Image [src]="random" height="80%"></Image>
                        <Button text="Add to My List" (tap)="addItem()" class="text-center" color="white" verticalAlign="center" textAlign="center" fontSize="15" backgroundColor="rgba(196, 170, 3)" width="50%" borderRadius="5" orientation="horizontal" marginTop="10"></Button>
                        <StackLayout orientation="vertical" marginLeft="280" height="130" marginTop="-55" backgroundColor="rgba(0,0,0)">

                            <Label text="&#xf1e0;" color="rgba(196, 170, 3)" textAlign="center" class="fa share-icon"></Label>
                            <Label text="Share" color="rgba(196, 170, 3)" marginTop="-5" marginLeft="40" textAlign="center" fontSize="15"></Label>
                        </StackLayout>
                    </StackLayout>



                    <StackLayout marginRight="10" (tap)="dismissKeyboard()" marginTop="-20" height="70%" marginLeft="20">
                        <Label text="Trending Movies" class="text-left"></Label>

                        <RadListView class="list-group" orientation="horizontal" [items]="result4" height="80%">

                            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>

                            <ng-template let-item="item" let-i="index">


                                <GridLayout rows="auto,*" orientation="horizontal" columns="*,*">
                                    <ActivityIndicator [busy]="isBusy" color="rgba(196, 170, 3)" width="100" height="100"></ActivityIndicator>
                                    <!-- <Label row="0" col="1" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Country" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="2" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="3" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="New Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="4" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="By 1M" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="5" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Active" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="6" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Recovered" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="7" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Deaths" marginLeft="25" marginTop="20"></Label> -->

                                    <!-- <Image row="0" col="0" src="~/images/global.png" marginTop="20"></Image> -->
                                    <!-- <Image row="0" col="0" height="90" [src]="extractImage(item.value.imdb_id)"></Image> -->
                                    <Image row="0" col="0" class="movies" [src]="item.image.poster" (tap)="selectedSearchM($event)"></Image>





                                </GridLayout>

                            </ng-template>
                        </RadListView>

                    </StackLayout>
                    <StackLayout marginRight="10" (tap)="dismissKeyboard()" height="70%" marginLeft="20">
                        <Label text="Upcoming Movies" class="text-left"></Label>

                        <RadListView class="list-group" orientation="horizontal" [items]="filteredUpComing" height="80%">

                            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>

                            <ng-template let-item="item" let-i="index">


                                <GridLayout rows="auto,*" orientation="horizontal" columns="*,*">
                                    <ActivityIndicator [busy]="isBusy" color="rgba(196, 170, 3)" width="100" height="100"></ActivityIndicator>
                                    <!-- <Label row="0" col="1" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Country" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="2" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="3" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="New Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="4" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="By 1M" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="5" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Active" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="6" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Recovered" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="7" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Deaths" marginLeft="25" marginTop="20"></Label> -->

                                    <!-- <Image row="0" col="0" src="~/images/global.png" marginTop="20"></Image> -->
                                    <!-- <Image row="0" col="0" height="90" [src]="extractImage(item.value.imdb_id)"></Image> -->

                                    <Image row="0" col="0" class="movies" [src]="item.image.poster" (tap)="selectedSearchM($event)"></Image>


                                </GridLayout>

                            </ng-template>
                        </RadListView>

                    </StackLayout>

                    <StackLayout marginRight="10" (tap)="dismissKeyboard()" height="70%" marginLeft="20">
                        <Label text="TV-Shows On Air Today" class="text-left"></Label>

                        <RadListView class="list-group" orientation="horizontal" [items]="result" height="80%">

                            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>

                            <ng-template let-item="item" let-i="index">

                                <GridLayout rows="auto,*" orientation="horizontal" columns="*,*">
                                    <ActivityIndicator [busy]="isBusy" color="rgba(196, 170, 3)" width="100" height="100"></ActivityIndicator>
                                    <!-- <Label row="0" col="1" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Country" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="2" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="3" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="New Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="4" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="By 1M" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="5" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Active" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="6" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Recovered" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="7" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Deaths" marginLeft="25" marginTop="20"></Label> -->

                                    <!-- <Image row="0" col="0" src="~/images/global.png" marginTop="20"></Image> -->
                                    <!-- <Image row="0" col="0" height="90" [src]="extractImage(item.value.imdb_id)"></Image> -->
                                    <Image row="0" col="0" class="movies" [src]="item.image.poster" (tap)="selectedSearch($event)"></Image>

                                </GridLayout>

                            </ng-template>
                        </RadListView>

                    </StackLayout>

                    <StackLayout marginRight="10" (tap)="dismissKeyboard()" height="70%" marginLeft="20">
                        <Label text="Trending TV-Shows" class="text-left"></Label>

                        <RadListView class="list-group" orientation="horizontal" [items]="filteredTrendingShows" height="80%">

                            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>

                            <ng-template let-item="item" let-i="index">


                                <GridLayout rows="auto,*" orientation="horizontal" columns="*,*">
                                    <ActivityIndicator [busy]="isBusy" color="rgba(196, 170, 3)" width="100" height="100"></ActivityIndicator>
                                    <!-- <Label row="0" col="1" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Country" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="2" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="3" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="New Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="4" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="By 1M" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="5" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Active" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="6" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Recovered" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="7" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Deaths" marginLeft="25" marginTop="20"></Label> -->

                                    <!-- <Image row="0" col="0" src="~/images/global.png" marginTop="20"></Image> -->
                                    <!-- <Image row="0" col="0" height="90" [src]="extractImage(item.value.imdb_id)"></Image> -->
                                    <Image row="0" col="0" class="movies" [src]="item.image.poster" (tap)="selectedSearch($event)"></Image>
                                </GridLayout>

                            </ng-template>
                        </RadListView>

                    </StackLayout>
                    <StackLayout marginRight="10" (tap)="dismissKeyboard()" height="70%" marginLeft="20">
                        <Label text="Recently Added TV-Shows" class="text-left"></Label>

                        <RadListView class="list-group" orientation="horizontal" [items]="filteredRecentlyAdded" height="80%">

                            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>

                            <ng-template let-item="item" let-i="index">


                                <GridLayout rows="auto,*" orientation="horizontal" columns="*,*">
                                    <ActivityIndicator [busy]="isBusy" color="rgba(196, 170, 3)" width="100" height="100"></ActivityIndicator>
                                    <!-- <Label row="0" col="1" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Country" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="2" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="3" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="New Cases" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="4" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="By 1M" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="5" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Active" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="6" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Recovered" marginLeft="25" marginTop="20"></Label>
                                    <Label row="0" col="7" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Deaths" marginLeft="25" marginTop="20"></Label> -->

                                    <!-- <Image row="0" col="0" src="~/images/global.png" marginTop="20"></Image> -->
                                    <!-- <Image row="0" col="0" height="90" [src]="extractImage(item.value.imdb_id)"></Image> -->
                                    <Image row="0" col="0" class="movies" [src]="item.image.poster" (tap)="selectedSearch($event)"></Image>
                                </GridLayout>

                            </ng-template>
                        </RadListView>

                    </StackLayout>


                </FlexboxLayout>
            </ScrollView>
        </StackLayout>
        <StackLayout height="100%" *ngIf="!isHomepage" orientation="vertical">


            <FlexboxLayout (tap)="dismissKeyboard()" alignItems="stretch" flexDirection="column" height="auto">
                <ScrollView height="100%">
                    <RadListView class="list-group" orientation="vertical" [items]="resultSelected" height="100%">


                        <ng-template let-item="item" let-i="index">


                            <StackLayout col="0" height="100%" row="0">

                                <Image [src]="item.value.poster" height="60%"></Image>


                                <GridLayout marginTop="5" height="auto" rows="auto,*,*,*" orientation="vertical" columns="*">
                                    <Label row="1" col="0" textWrap="true" [text]="item.value.plot" class="text-center" color="white" verticalAlign="center" textAlign="center" fontSize="20"></Label>
                                    <Label row="2" col="0" [text]="item.value.length" class="text-center" color="white" verticalAlign="center" textAlign="left" fontSize="20"></Label>
                                    <Label row="3" col="0" [text]="item.value.year" class="text-center" color="white" verticalAlign="center" textAlign="left" fontSize="20"></Label>

                                </GridLayout>
                                <Button text="Add to My List" (tap)="addItem()" class="text-center" color="white" verticalAlign="center" textAlign="center" fontSize="15" backgroundColor="rgba(196, 170, 3)" width="50%" borderRadius="5" orientation="horizontal" marginTop="10"></Button>
                                <StackLayout marginRight="10" marginTop="5" (tap)="dismissKeyboard()" *ngIf="movie" height="70%" marginLeft="20">
                                    <Label text="Similar Movies" class="text-left"></Label>

                                    <RadListView class="list-group" orientation="horizontal" *ngIf="movie" [items]="result4" height="80%">

                                        <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>

                                        <ng-template let-item="item" let-i="index">


                                            <GridLayout rows="auto,*" orientation="horizontal" columns="*,*">
                                                <ActivityIndicator [busy]="isBusy" color="rgba(196, 170, 3)" width="100" height="100"></ActivityIndicator>
                                                <!-- <Label row="0" col="1" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Country" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="2" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Cases" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="3" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="New Cases" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="4" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="By 1M" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="5" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Active" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="6" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Recovered" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="7" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Deaths" marginLeft="25" marginTop="20"></Label> -->

                                                <!-- <Image row="0" col="0" src="~/images/global.png" marginTop="20"></Image> -->
                                                <!-- <Image row="0" col="0" height="90" [src]="extractImage(item.value.imdb_id)"></Image> -->
                                                <Image row="0" col="0" class="movies" [src]="item.image.poster" (tap)="selectedSearch($event)"></Image>

                                            </GridLayout>

                                        </ng-template>
                                    </RadListView>

                                </StackLayout>

                                <StackLayout marginRight="10" marginTop="5" (tap)="dismissKeyboard()" *ngIf="!movie" height="70%" marginLeft="20">
                                    <Label text="Similar Tv-Shows" class="text-left"></Label>

                                    <RadListView class="list-group" orientation="horizontal" *ngIf="!movie" [items]="result4" height="80%">

                                        <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>

                                        <ng-template let-item="item" let-i="index">


                                            <GridLayout rows="auto,*" orientation="horizontal" columns="*,*">
                                                <ActivityIndicator [busy]="isBusy" color="rgba(196, 170, 3)" width="100" height="100"></ActivityIndicator>
                                                <!-- <Label row="0" col="1" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Country" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="2" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Cases" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="3" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="New Cases" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="4" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="By 1M" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="5" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Active" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="6" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Recovered" marginLeft="25" marginTop="20"></Label>
                                                <Label row="0" col="7" fontWeight="bold" color="white" fontSize="18" textAlign="center" text="Deaths" marginLeft="25" marginTop="20"></Label> -->

                                                <!-- <Image row="0" col="0" src="~/images/global.png" marginTop="20"></Image> -->
                                                <!-- <Image row="0" col="0" height="90" [src]="extractImage(item.value.imdb_id)"></Image> -->
                                                <Image row="0" col="0" class="movies" [src]="item.image.poster" (tap)="selectedSearch($event)"></Image>

                                            </GridLayout>

                                        </ng-template>
                                    </RadListView>

                                </StackLayout>
                            </StackLayout>

                        </ng-template>
                    </RadListView>
                </ScrollView>


            </FlexboxLayout>

        </StackLayout>

        <StackLayout col="0" row="1" orientation="horizontal" backgroundColor="rgba(0,0,0)" height="60" position="absolute">
            <GridLayout rows="*,*" columns="*,*,*">
                <Label col="0" row="0" color="rgba(196, 170, 3)" text="&#xf015;" height="60" fontSize="35" marginTop="25" class="fa menu-icon" marginBottom="15" (tap)="onHomeTap()"></Label>
                <Label col="0" row="1" color="rgba(196, 170, 3)" text="Home" fontSize="15" class="bar-text" marginTop="10" marginLeft="47"></Label>
                <!-- <Image col="1" row="0"  height="30" width="20" margin="12" src="~/images/alarm.jpg"></Image> -->
                <Label col="1" row="0" color="rgba(196, 170, 3)" text="&#xf073;" height="40" fontSize="30" marginTop="25" class="fa menu-icon" marginBottom="15" (tap)="onHistoryTap()"></Label>
                <Label col="1" row="1" color="rgba(196, 170, 3)" text="Series" fontSize="15" (tap)="onHistoryTap()" class="bar-text" marginTop="10" marginLeft="47"></Label>
                <Label col="2" row="0" color="rgba(196, 170, 3)" text="&#xf073;" height="40" fontSize="30" marginTop="25" class="fa menu-icon" marginBottom="15" (tap)="onHistoryTap()"></Label>
                <Label col="2" row="1" color="rgba(196, 170, 3)" text="Movies" fontSize="15" (tap)="onHistoryTap()" class="bar-text" marginTop="10" marginLeft="45"></Label>
                <!-- <Image col="2" row="0" (tap)="onLoginTap()" height="25" width="25" margin="10" marginLeft="-5" src="~/images/medicines.png"></Image> -->
            </GridLayout>
        </StackLayout>


    </GridLayout>
</FlexboxLayout>